<div class="col-md-3 mb-3 mt-1">
    <div class="card">
        <div class="card-body">
            <div class="h2">
                {{ person.first_name }} {{ person.second_name }}
            </div>
            <div class="h3 text-muted">
                @{{ person.username }}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h6 text-muted">
                    Подписчиков: {{ person.following.count }} <br />
                    Подписан: {{ person.follower.count }}
                </div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">
                    Записей: {{ person.posts.count }}
                </div>
            </li>
            {% if person != user %}
                <li class="list-group-item">
                    {% if person in user.follower.authors %}
                        <a class="btn btn-lg btn-light" href="{% url 'posts:profile_unfollow' username=person.username %}" role="button">
                            Отписаться
                        </a>
                    {% else %}
                        <a class="btn btn-lg btn-primary" href="{% url 'posts:profile_follow' username=person.username %}" role="button">
                            Подписаться
                        </a>
                    {% endif %}
                </li>
            {% endif %}
        </ul>
    </div>
</div>